.genSel {
    background-color: #add9e4 !important;
}


.selHoriz {
    background-color: #add9e4;
}

.maincont {
    display: flex;
    width: 100%;
    /* max-width: 80vw; */
    flex-direction: row;
    margin: 0 auto;

    align-items: baseline;
    justify-content: center;
    max-height: 90vh;
    overflow: auto;

}

.selVert {
    background: linear-gradient(to bottom, #f7fbfc 0%, #d9edf2 40%, #add9e4 100%);
}


#vdef {
    /* position: absolute; */
    top: 10vh;
    left: 2vw;
    max-height: 250px;
    overflow: auto;
}

#def {

    /* 	position: fixed; */
    top: 10vh;
    right: 2vw;

    max-width: 250px;
    max-height: 250px;
    overflow: auto;
}

#vfdef,
#fdef {
    display: flex;
    align-content: center;
    flex-direction: column;
    max-width: 159px;
    background-color: white;
    margin-left: 4px;
}

.orange {
    background-color: #f50 !important;
}

.yellow {
    background-color: yellowgreen !important;
}

.horiz input {
    background-color: yellow;
}



#crossword {
    text-align: center;
    /* margin-right:3px; */
    background-color: white;
    align-self: flex-start;
    /* padding-left: 3px;
    padding-right: 3px; */

    border: 1px solid black;
    display: table;
    margin: 0 auto;
    box-sizing: content-box;


}

#crossword .wr_box {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

#crossword .box {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #dbdae0 ;
    margin:0px;
    /* margin: 1px 1px;
    margin: 1px -1px 1px -1px; */
}

/*
#crossword .box:hover +.actions{
visibility: visible;
}*/

.cus-disabled {
    background-color: red;
}



.ov-disabled {}

#crossword .actions {
    visibility: hidden;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-color: grey;
    right: 0px;
    top: 0px;
    position: absolute;
}

#crossword .actions:hover {
    zoom: 2;
}

.number {
    visibility: visible;
    width: 10px;
    height: 10px;
    cursor: pointer;
    font-size: 8px;
    left: 0px;
    top: 0px;
    position: absolute;

}

.fixed {
    background: -webkit-linear-gradient(top, #ffffff, #d2d2d2);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 30%;
    background-clip: 10px;
    min-height: 200px;
    background-color: red;
    z-index: 2;
    transition: opacity 300ms ease-out !important;

}

body {
    background: orange;
    background: linear-gradient(top, #fb0, #f50);
    background: -moz-linear-gradient(top, #fb0, #f50);
    background: -webkit-linear-gradient(top, #ffffff, #d2d2d2);
    background: -o-linear-gradient(top, #fb0, #f50);
    background: -ms-linear-gradient(top, #fb0, #f50);
}


div {

    animation: fontIncrease 2s 1;
}


@keyframes hiddenMenu {}

@keyframes fontIncrease {
    0% {
        font-size: 10px;
        opacity: 0.4;
    }

    30% {
        font-size: 15px;
    }

    100% {
        font-size: 20px;
        opacity: 1;
    }
}

.wr_box input {
    /*     padding:2px;
width:100%;
margin:0 -1px 0 -4px;
float:left;
clear:both */
    text-transform: capitalize;
}

body {
    background: url('../public/pexels-rodolfo-clix-1596884.jpg');
    background-position: center center;
    background-size: cover;
}

.wr_box .disabled {
    background-color: black !important;
}

#fdef input[type=text],
#vfdef input[type=text] {
    height: 1.5rem;
    margin: 0px;
}


.activeCell {
    background-color: #6d8f97!important;
}


/*Mobiles queries*/
@media only screen and (max-width: 720px) {

    .maincont {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
        align-items: baseline;
        justify-content: center;
    }
    #crossword .box
    {
        width: calc(100vw /var(--cols) - 3vw );
       
        height:  calc(100vw / var(--cols) - 3vw );
    }


  }

  #toolbar {
    clear: both;
    width: 32px;
    margin: 0;
    padding: 0;
    margin-right: 6px;
    float: left;
}
